.grid {
  display: grid;
  /* grid-template-columns: repeat(4, 100px);  */
  grid-template-rows:repeat(3,100px);
  gap: 12px;
  padding: 20px;
  grid-auto-flow: column;  
}

.box {
  height: 100px;
  background: aqua;
  border: 1px solid #000;
  display: grid;
  place-items: center; 
}
