* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    color:aliceblue
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);

}

body{
    overflow-x: hidden;
    
}


.page1{
height:100%;
width:100%;
background-color: aliceblue;
display: flex;
align-items: center;
justify-content: center;
}

.page2{
height:100%;
width:100%;
background-color:lightblue;
display: flex;
align-items: center;
justify-content: flex-start;
overflow: hidden;




}

.page2 h1{
font-size: 30vw;
font-weight: 500;;
text-transform: uppercase;

}


.page3{
height:100%;
width:100%;
background-color:beige;
display: flex;
align-items: center;
justify-content: center;
}

