* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    color: aliceblue
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);

}


#string {
    height: 300px;
    width: 100%;
    background-color: aqua;
}

#string svg {
    width: 100%;
    height: 100%;
}

.mouse {
    height: 30px;
    width: 30px;
    background-color: white;
    position: fixed;
    border-radius: 50%;
}