* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    color:aliceblue
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);

}


.box1 {
    display: flex;
    height: 400px;
    width: 400px;
    background-color: burlywood;
    align-items: center;
    justify-content: center;

}

.box2 {
    height: 400px;
    width: 400px;
    background-color: burlywood;
}