* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    color: #fff

}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #111;

}

.main{
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1{
    font-size: 100px;
}
h1 span{
    display: inline-block;
}